<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wboly.modules.dao.index.VblIndexMapper">
	<!-- 首页信息 -->

	<!-- 查询所有门店省份地址 -->
	<select id="selectAllProvinceAddress" resultType="com.wboly.modules.entity.area.AllAreaEntity">
		SELECT vsa.provinceId,lp.provinceName
		FROM vbl_market_goods_data.dbo.vbl_shop_adress vsa WITH (nolock)
		LEFT JOIN locality_data.dbo.loc_province lp WITH (nolock) ON lp.provinceId = vsa.provinceId
		GROUP BY vsa.provinceId,lp.provinceName
	</select>

	<!-- 查询所有门店城市地址 -->
	<select id="selectAllCityAddress" parameterType="java.lang.Integer" resultType="com.wboly.modules.entity.area.AllAreaEntity">
		SELECT vsa.cityId,lc.cityName,vsa.provinceId FROM vbl_market_goods_data.dbo.vbl_shop_adress vsa WITH (nolock)
		LEFT JOIN locality_data.dbo.loc_city lc WITH (nolock) ON lc.cityId = vsa.cityId WHERE 1=1 AND vsa.provinceId=#{provinceId}
		GROUP BY vsa.cityId,lc.cityName,vsa.provinceId
	</select>

	<!-- 查询所有门店区域地址 -->
	<select id="selectAllAreaAddress" parameterType="java.lang.Integer" resultType="com.wboly.modules.entity.area.AllAreaEntity">
		SELECT vsa.areaId,la.areaName,vsa.cityId FROM vbl_market_goods_data.dbo.vbl_shop_adress vsa WITH (nolock)
		LEFT JOIN locality_data.dbo.loc_area la WITH (nolock) ON la.areaId = vsa.areaId
		WHERE 1=1 AND vsa.cityId=#{cityId} GROUP BY vsa.areaId,la.areaName,vsa.cityId
	</select>

	<!-- 查询所有门店街道地址 -->
	<select id="selectAllStreetAddress" parameterType="java.lang.Integer" resultType="com.wboly.modules.entity.area.AllAreaEntity">
		SELECT vsa.streetId,ISNULL(ls.streetName, vsa.streetName) AS streetName,vsa.areaId
		FROM vbl_market_goods_data.dbo.vbl_shop_adress vsa WITH (nolock)
		LEFT JOIN locality_data.dbo.loc_street ls WITH (nolock) ON ls.streetId = vsa.streetId
		WHERE 1=1 AND vsa.areaId=#{areaId}
		GROUP BY vsa.streetId,ls.streetName,vsa.areaId,vsa.streetName
	</select>

	<!-- 查询所有省份信息 -->
	<select id="selectAllProvince" resultType="com.wboly.modules.entity.area.AreaEntity">
		SELECT s.provinceId,p.provinceName FROM vbl_market_goods_data.dbo.VBL_SHOP s WITH(nolock)
		LEFT JOIN locality_data.dbo.loc_province p WITH(nolock) ON p.provinceId = s.provinceId
		GROUP BY s.provinceId,p.provinceName ORDER BY s.provinceId DESC
	</select>

	<!-- 根据省份编号查询所有城市信息 -->
	<select id="selectAllCityByProvinceId" parameterType="java.lang.Integer" resultType="com.wboly.modules.entity.area.AreaEntity">
		SELECT s.cityId,c.cityName,s.provinceId FROM vbl_market_goods_data.dbo.VBL_SHOP s WITH(nolock)
		LEFT JOIN locality_data.dbo.loc_city c WITH(nolock) ON c.cityId = s.cityId
		WHERE 1=1 AND s.provinceId = #{provinceId}
		GROUP BY s.cityId,c.cityName,s.provinceId ORDER BY s.cityId DESC
	</select>

	<!-- 根据城市编号查询所有区域信息 -->
	<select id="selectAllAreaByCityId" parameterType="java.lang.Integer" resultType="com.wboly.modules.entity.area.AreaEntity">
		SELECT s.areaId,a.areaName,s.cityId FROM vbl_market_goods_data.dbo.VBL_SHOP s WITH(nolock)
		LEFT JOIN locality_data.dbo.loc_area a WITH(nolock) ON a.areaId = s.areaId
		WHERE 1=1 AND s.cityId = #{cityId}
		GROUP BY s.areaId,a.areaName,s.cityId
		ORDER BY s.areaId DESC
	</select>

	<!-- 根据区域查询所有门店信息 -->
	<select id="selectAllShopByArea" parameterType="java.util.Map" resultType="com.wboly.modules.entity.area.AreaEntity">
		select shopId,shopName from vbl_market_goods_data.dbo.vbl_shop
		WITH(NOLOCK) where 1=1
		<if test="areaId !=0 and areaId !='0'">
			AND areaId = #{areaId}
		</if>
		<if test="cityId !=0 and cityId !='0'">
			AND cityId = #{cityId}
		</if>
		<if test="provinceId !=0 and provinceId !='0'">
			AND provinceId = #{provinceId}
		</if>
		AND isshow = 1 order by shopId
	</select>

	<!-- 查询门店数量 -->
	<select id="selectShopCount" resultType="java.lang.Integer">
		SELECT shopId FROM vbl_market_goods_data.dbo.VBL_SHOP WITH (NOLOCK) GROUP BY shopId
	</select>

	<!-- 查询门店可用的商品类目信息 -->
	<select id="selectGoodsClassInfo" parameterType="java.util.Map" resultType="java.util.Map">
		<if test="shopId != 999">
			SELECT * FROM vbl_market_goods_data.dbo.ufn_GetGoodsClassByShop(#{shopId})
		</if>
		<if test="shopId == 999">
			SELECT * FROM vbl_market_goods_data.dbo.VBL_GOODS_CLASS
			WITH (NOLOCK) ORDER BY PARENTID ASC,SORT ASC
		</if>
	</select>

	<select id="selectAllActivityInfo" parameterType="java.lang.Integer" resultType="java.util.Map">
		SELECT ISNULL(CONVERT(VARCHAR,r.type), '') AS ruleType,
		ISNULL(CONVERT(VARCHAR,r.beginTime), '') AS ruleBeginTime,
		ISNULL(CONVERT(VARCHAR,r.endTime), '') AS ruleEndTime,
		ISNULL(CONVERT(VARCHAR,r.num), '') AS ruleNum, a.activityId, a.shopId,
		a.goodsId, a.supplierUid, a.skuId, a.isDefault, a.goodstitle,
		a.retailBacLimit, a.attrId, a.attrVal, a.marketPrice, a.uplineEndDate,
		a.saleNum aSaleNum, a.goodsKeyword, a.retailPrice, b.classid,
		b.brandId, b.isExistSku, b.goodsName, b.saleNum gSaleNum, b.faceImg, c.shopName
		FROM vbl_market_goods_data.dbo.VBL_ACTIVITY a WITH (NOLOCK)
		LEFT JOIN vbl_market_goods_data.dbo.VBL_GOODS b WITH (NOLOCK) ON a.goodsId = b.goodsId
		LEFT JOIN vbl_market_goods_data.dbo.VBL_SHOP c WITH (NOLOCK) ON a.shopId = c.shopId
		LEFT JOIN vbl_market_goods_data.dbo.vbl_goods_rule r WITH (NOLOCK) ON a.activityId = r.activityId
		WHERE a.shopId = #{shopId}
	</select>

	<!-- 查询已上线活动信息条数以及门店编号 -->
	<select id="selectActivityCount" resultType="com.wboly.rpc.entity.IndexEntity">
		SELECT SHOPID AS shopId FROM vbl_market_goods_data.dbo.VBL_ACTIVITY WITH(NOLOCK) GROUP BY SHOPID ORDER BY SHOPID
	</select>

	<!-- 查询已上线活动信息 -->
	<select id="selectActivityInfo" parameterType="java.lang.Integer" resultType="java.util.Map">
		SELECT ISNULL(CONVERT(VARCHAR,r.type), '') AS ruleType,
		ISNULL(CONVERT(VARCHAR,r.beginTime), '') AS ruleBeginTime,
		ISNULL(CONVERT(VARCHAR,r.endTime), '') AS ruleEndTime,
		ISNULL(CONVERT(VARCHAR,r.num), '') AS ruleNum, a.activityId, a.shopId,
		a.goodsId, a.supplierUid, a.skuId, a.isDefault, a.goodstitle,
		a.retailBacLimit, a.attrId, a.attrVal, a.marketPrice, a.uplineEndDate,
		a.saleNum aSaleNum, a.goodsKeyword, a.retailPrice, b.classid,
		b.brandId, b.isExistSku, b.goodsName, b.saleNum gSaleNum, b.faceImg, c.shopName
		FROM vbl_market_goods_data.dbo.VBL_ACTIVITY a WITH (NOLOCK)
		LEFT JOIN vbl_market_goods_data.dbo.VBL_GOODS b WITH (NOLOCK) ON a.goodsId = b.goodsId
		LEFT JOIN vbl_market_goods_data.dbo.VBL_SHOP c WITH (NOLOCK) ON a.shopId = c.shopId
		LEFT JOIN vbl_market_goods_data.dbo.vbl_goods_rule r WITH (NOLOCK) ON a.activityId = r.activityId
		WHERE skuId = (
			SELECT MIN (skuId) FROM (
				SELECT skuId, goodsId, shopId FROM vbl_market_goods_data.dbo.VBL_ACTIVITY a WITH (NOLOCK)
				WHERE a.shopId = #{shopId} AND retailPrice = (
					SELECT MIN (retailPrice) FROM vbl_market_goods_data.dbo.VBL_ACTIVITY WITH (NOLOCK)
					WHERE goodsId = a.goodsId AND shopId = a.shopId
				)
			) te WHERE goodsId = a.goodsId AND shopId = a.shopId
		)
		ORDER BY
		a.activityId
	</select>

	<!-- 首页商品信息 -->
	<select id="selectHomePageInfo" parameterType="com.wboly.rpc.entity.IndexEntity" resultType="java.util.Map">
		SELECT
		<if test="moduletype == 1 or moduletype == 2">
			TOP 6
		</if>
		goodsId, shopId, moduletype, activityId
		FROM vbl_market_base_data.dbo.vbl_page_recommended WITH (NOLOCK)
		WHERE 1 = 1 AND moduletype = #{moduletype} AND shopId = #{shopId}
		ORDER BY id
	</select>

	<!-- 查询已上线的活动信息 -->
	<select id="selectOnLineInfo" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT ISNULL(CONVERT(VARCHAR, r.type), '') AS ruleType,
		ISNULL(CONVERT (VARCHAR, r.beginTime),'') AS ruleBeginTime,
		ISNULL(CONVERT (VARCHAR, r.endTime),'') AS ruleEndTime,
		ISNULL(CONVERT(VARCHAR, r.num), '') AS ruleNum, g.goodsName,
		a.goodstitle, a.skuId, a.retailPrice, a.retailBacLimit, a.marketPrice,
		g.faceImg, a.activityId, a.supplierUid, a.shopId
		FROM vbl_market_goods_data.dbo.vbl_activity a WITH (NOLOCK)
		LEFT JOIN vbl_market_goods_data.dbo.vbl_goods g WITH (NOLOCK) ON a.goodsid = g.goodsid
		LEFT JOIN vbl_market_goods_data.dbo.vbl_goods_rule r WITH (NOLOCK) ON a.activityId = r.activityId
		WHERE 1=1
		<if test="ids != null and ids != ''">
			AND a.activityId IN
			<foreach collection="ids " item="item" open="(" separator=","
				close=")">
				#{item}
			</foreach>
		</if>
	</select>

	<!-- 查询首页广告信息 -->
	<select id="selectAdvertInfo" parameterType="com.wboly.rpc.entity.IndexEntity" resultType="java.util.Map">
		select * from vbl_market_base_data.dbo.vbl_page_advertising WITH(NOLOCK) 
		where 1=1 and modularId = #{moduletype} and plateId = #{plateId} and shopId = #{shopId}
		order by id
	</select>

	<!-- 查询首页公告信息 -->
	<select id="selectAfficheInfo" resultType="java.util.Map">
		select title,content,url from vbl_market_base_data.dbo.vbl_page_affiche
		WITH(NOLOCK) where isline=1 order by id
	</select>

	<!-- 根据类目编号获取品牌信息 -->
	<select id="selectBrandInfoByClassId" parameterType="java.lang.Integer" resultType="java.util.Map">
		select brandId,brandName from vbl_market_goods_data.dbo.vbl_goods_brand WITH(NOLOCK) 
		where classId = #{classId} order by sort
	</select>

	<!-- 根据区域查询所有门店信息 -->
	<select id="selectAllShopInfoByArea" parameterType="java.util.Map" resultType="java.util.Map">
		select shopId,shopName,lng,lat from vbl_market_goods_data.dbo.vbl_shop
		WITH(NOLOCK) where 1=1
		<if test="areaId !=0 and areaId !='0'">
			AND areaId = #{areaId}
		</if>
		<if test="cityId !=0 and cityId !='0'">
			AND cityId = #{cityId}
		</if>
		AND isshow = 1 order by shopId
	</select>
</mapper>
