<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wboly.modules.dao.goods.VblGoodsMapper">
	<!-- 商品信息 -->
	<!-- 根据多个参数查询已上线活动信息 -->
	<select id="selectActivityByParm" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT * FROM vbl_market_goods_data.dbo.vbl_activity WITH (nolock)
		WHERE 1 = 1
		<if test="shopId !=null and shopId!=''">AND shopId =#{shopId}</if>
		<if test="goodsId !=null and goodsId!=''">AND goodsId =#{goodsId}</if>
		<if test="supplierUid !=null and supplierUid!=''">AND supplierUid =#{supplierUid}</if>
		<if test="skuId !=null and skuId!=''">AND skuId =#{skuId}</if>
	</select>

	<!-- 详情页商品基本信息 -->
	<select id="findGoodsBase" parameterType="java.util.Map" resultType="int">
		select top 1 activityId from
		vbl_market_goods_data.dbo.vbl_activity d with(nolock) where goodsId = goodsId
		and shopId = #{shopId} and goodsId =#{goodsId} and supplierUid = #{supplierUid} 
		order by retailPrice,activityId
	</select>

	<!-- 商品sku信息 -->
	<select id="goodsSKU" parameterType="com.wboly.rpc.entity.OrderEntity" resultType="java.util.Map">
		SELECT a.ruleType, a.ruleNum, a.ruleBeginTime, a.ruleEndTime, a.activityId,
		sku.skuId, sku.goodsId, sku.attrValId, sku.attrVal, st.stockNum, a.retailPrice, a.retailBacLimit
		FROM vbl_market_goods_data.dbo.vbl_goods_sku sku WITH (nolock)
		LEFT JOIN vbl_market_goods_data.dbo.vbl_goods_stockInfo st WITH (nolock) ON sku.goodsId = st.goodsId AND sku.skuId = st.skuId
		RIGHT JOIN (
			SELECT ISNULL(CONVERT(VARCHAR, r.type), '') AS ruleType,
			ISNULL(CONVERT (VARCHAR, r.beginTime),'') AS ruleBeginTime,
			ISNULL(CONVERT (VARCHAR, r.endTime),'') AS ruleEndTime,
			ISNULL(CONVERT(VARCHAR, r.num), '') AS ruleNum, a.supplierUid,
			a.activityId, a.skuid, a.retailPrice, a.retailBacLimit
			FROM vbl_market_goods_data.dbo.vbl_activity a WITH (nolock)
			LEFT JOIN vbl_market_goods_data.dbo.vbl_goods_rule r WITH (nolock) ON a.activityId = r.activityId
			WHERE a.shopId = #{shopId}
		) a ON a.skuid = sku.skuId AND a.supplierUid=st.supplierUid
		WHERE sku.goodsId = #{goodsId} AND st.shopId = #{shopId}
	</select>

	<!-- 商品库存数量 -->
	<select id="GoodsStockNum" parameterType="java.util.Map" resultType="java.lang.Long">
		select stockNum from vbl_market_goods_data.dbo.vbl_goods_stockInfo WITH(NOLOCK)
		where shopId = #{shopId} and goodsId = #{goodsId} and skuId = #{skuId} AND supplierUid = #{supplierUid}
	</select>

</mapper>
