<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wboly.modules.dao.user.VblUserMapper">

	<!-- 用户信息 -->

	<!-- 待返现总金额 -->
	<select id="selectResidueBacLimitByParm" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT ISNULL(SUM(vsop.sumretailBacLimit),0) AS residueBacLimit
		FROM vbl_market_order_data.dbo.vbl_shop_order_plantorefund vsop WITH(nolock)
		left join vbl_market_order_data.dbo.vbl_shop_order vso with(NOLOCK) on vsop.orderId=vso.orderId
		WHERE 1=1 AND vsop.buyerUid=#{userId} AND vsop.status=1 and vso.state=3
	</select>

	<!-- 总收益金额,以及剩余收益金额 -->
	<select id="UserAllAmount" parameterType="java.util.Map" resultType="java.util.Map">
		IF( NOT EXISTS(
			select amount, balance AS residueAmount 
			from vbl_market_order_data.dbo.Vbl_marketing_money WITH(NOLOCK)
			where userId = #{userId}
		))
		SELECT 0 amount,0 AS residueAmount ELSE select amount,balance AS residueAmount
		from vbl_market_order_data.dbo.Vbl_marketing_money WITH(NOLOCK) where userId = #{userId}
	</select>

	<!-- 查询用户操作的数据(待付款,待收货,待返款,售后(售后中,退货中)) -->
	<select id="selectUserOperationInfo" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT * FROM (
			SELECT COUNT (orderId) AS waitPay FROM vbl_market_order_data.dbo.vbl_shop_order WITH (nolock)
			WHERE state = 0 and buyerUid = #{buyerUid}
		) a, (
			SELECT COUNT (orderId) AS waitTake
			FROM vbl_market_order_data.dbo.vbl_shop_order WITH (nolock)
			WHERE state IN (1, 2) and buyerUid = #{buyerUid}
		) b, (
			SELECT COUNT (orderId) AS waitReturn FROM vbl_market_order_data.dbo.vbl_shop_order WITH (nolock)
			WHERE state = 3 and buyerUid = #{buyerUid}
		) c, (
			SELECT (returnGoods + afterGoods) AS afterSum FROM (
				SELECT COUNT (id) AS returnGoods FROM vbl_market_order_data.dbo.vbl_shop_order_return WITH (nolock)
				WHERE status IN (0, 1, 2) and buyerUid = #{buyerUid}
			) d, (
				SELECT COUNT (id) AS afterGoods FROM vbl_market_order_data.dbo.vbl_shop_order_aftersale WITH (nolock)
				WHERE state IN (0, 1) and buyerUid = #{buyerUid}
			) e
		) f
	</select>

	<!-- 查询APP是否有新版本更新 -->
	<select id="selectNewApp" parameterType="java.lang.String" resultType="java.util.Map">
		SELECT ID,NAME,PATH,CREATETIME,CONTENT,VERSION FROM vbl_market_base_data.dbo.VBL_APP WITH(NOLOCK) WHERE ID = #{id}
	</select>

	<!-- 查询用户收货地址 -->
	<select id="selectUserAddress" parameterType="com.wboly.rpc.entity.UserEntity" resultType="java.util.Map">
		select A.addressId, A.provinceId, A.cityId, A.areaId, A.streetId, A.address, A.realName, 
		A.phone, A.mobile, A.isDefault, ls.streetName, la.areaName, lc.cityName, lp.provinceName
		from vbl_market_base_data.dbo.VBL_USER_ADDRESS A WITH(NOLOCK)
		LEFT JOIN locality_data.dbo.loc_province lp WITH(nolock) ON A.provinceId = lp.provinceId
		LEFT JOIN locality_data.dbo.loc_city lc WITH(nolock) ON A.cityId = lc.cityId
		LEFT JOIN locality_data.dbo.loc_area la WITH(nolock) ON A.areaId = la.areaId
		LEFT JOIN locality_data.dbo.loc_street ls WITH(nolock) ON A.streetId = ls.streetId
		where 1=1
		<if test="addressIds == null or addressIds ==''">
			and A.astate = 0
		</if>
		<if test="addressIds != null and addressIds !=''">
			and addressId in (${addressIds})
		</if>
		<if test="addressIds == null or addressIds == ''">
			and userid = ${userId}
		</if>
		<if test="isDefault >0 ">
			and isDefault =1
		</if>
	</select>

	<!-- 获取用户信息 -->
	<select id="selectUserInfo" parameterType="com.wboly.rpc.entity.UserEntity" resultType="com.wboly.rpc.entity.UserEntity">
		select userId,username from vbl_market_base_data.dbo.vbl_user WITH(NOLOCK) where 1=1
		<if test="userId >0">
			and userId = #{userId}
		</if>
	</select>

	<!-- 查询用户收藏信息 -->
	<select id="selectUserCollectionInfo" parameterType="com.wboly.rpc.entity.CollectionEntity" resultType="java.util.Map">
		SELECT c2.Id, shopId, shopName, goodsId, supplierUid,
		goodsTitle, faceImg, retailPrice, retailBacLimit, marketPrice, status
		from vbl_market_goods_data.dbo.vbl_aollection c1 WITH(NOLOCK)
		RIGHT JOIN (
			SELECT TOP (#{start} + #{limit}) row_number() OVER (ORDER BY lineDate DESC) rn, id 
			from vbl_market_goods_data.dbo.vbl_aollection WITH(NOLOCK)
			where userId = #{userId}
		)c2 on c1.id = c2.id where c2.rn > ${start}
	</select>

	<!-- 查询用户是否关注收藏信息 -->
	<select id="selectUserWhetherAttention" parameterType="com.wboly.rpc.entity.CollectionEntity" resultType="java.lang.Integer">
		select count(1) from vbl_market_goods_data.dbo.vbl_aollection WITH(NOLOCK)
		where userid= #{userId} and shopid = #{shopId} and goodsid = #{goodsId}
		<if test="supplierUid != null and supplierUid !=''">
			and supplierUid = #{supplierUid}
		</if>
	</select>

	<!-- 查询用户佣金记录信息 -->
	<select id="selectUserVfriendInfo" parameterType="com.wboly.rpc.entity.CollectionEntity" resultType="java.util.Map">
		SELECT vu.userName, a.* FROM (
			SELECT TOP (#{start} + #{limit}) row_number () OVER (ORDER BY dateline DESC) rn,
			buyerUid, brokerage, dbo.GetDateByTimeStamp (dateline) AS regTime
			FROM vbl_market_order_data.dbo.vbl_marketing_vfriend_commision WITH (NOLOCK)
			WHERE parentUid = #{userId} AND type IN (1, 2, 3)
		) a
		LEFT JOIN vbl_market_base_data.dbo.vbl_user vu WITH (nolock) ON a.buyerUid = vu.userId
		WHERE 1 = 1 AND a.rn > ${start}
	</select>

	<!-- 根据用户编号查询用户信息 -->
	<select id="selectUserInfoByUserId" parameterType="java.util.Map" resultType="java.util.Map">
		select userid,userName ,dbo.GetDateByTimeStamp(regTime) regTime
		from vbl_market_base_data.dbo.vbl_user WITH(NOLOCK) where
		<if test="ids != null and ids != ''">
			userid in
			<foreach collection="ids " item="item" open="(" separator=","
				close=")">
				#{item}
			</foreach>
		</if>
	</select>

	<!-- 查询用户推广信息列表 -->
	<select id="selectUserExtendsInfo" parameterType="java.util.Map" resultType="java.util.Map">
		<if test="userId != null and userId !=''">
			SELECT A.*,vu1.userName AS userName,vu2.userName AS parentName FROM (
				SELECT TOP (${start} + ${limit}) row_number () OVER (ORDER BY dateLine DESC) rn ,*
				FROM vbl_market_order_data.dbo.vbl_marketing_vfriend WITH (nolock)
				WHERE 1 = 1 AND parentUid = #{userId} AND type = 0
			) A
			LEFT JOIN vbl_market_base_data.dbo.vbl_user vu1 WITH(nolock) ON A.userId = vu1.userId
			LEFT JOIN vbl_market_base_data.dbo.vbl_user vu2 WITH(nolock) ON A.parentUid = vu2.userId
			WHERE 1 = 1 AND A.rn > ${start}
		</if>
	</select>
</mapper>
