.mui-indexed-list {
	position: relative;
	overflow: hidden;
	height: 300px;
	background-color: #fafafa;
	cursor: default;
}

.mui-indexed-list-inner {
	overflow-y: auto;
	margin: 0;
	padding: 0;
	border: none;
}

.mui-indexed-list-inner::-webkit-scrollbar {
	visibility: hidden;
	width: 0;
	height: 0;
}

.mui-indexed-list-empty-alert, .mui-indexed-list-inner.empty ul {
	display: none;
}

.mui-indexed-list-inner.empty .mui-indexed-list-empty-alert {
	display: block;
}

.mui-indexed-list-empty-alert {
	padding: 30px 15px;
	padding-right: 45px;
	color: #ccc;
	text-align: center;
}

.mui-ios .mui-indexed-list-inner {
	width: calc(100% + 10px);
}

.mui-indexed-list-group, .mui-indexed-list-item {
	padding-right: 45px;
}

.mui-ios .mui-indexed-list-empty-alert, .mui-ios .mui-indexed-list-group,
	.mui-ios .mui-indexed-list-item {
	padding-right: 55px;
}

.mui-indexed-list-group {
	background-color: #f7f7f7;
}

.mui-indexed-list-group {
	padding-top: 3px;
	padding-bottom: 3px;
}

.mui-indexed-list-search {
	z-index: 15;
	border-bottom: solid 1px #e3e3e3;
}

.mui-indexed-list-search.mui-search:before {
	margin-top: -10px;
}

.mui-indexed-list-search input {
	margin: 0;
	border-radius: 0;
	background-color: #fafafa;
}

.mui-indexed-list-bar {
	position: absolute;
	right: 0;
	z-index: 10;
	width: 23px;
	height: 100%;
	background-color: #d3d3d3;
	-webkit-transition: .2s;
}

.mui-indexed-list-bar a {
	display: block;
	margin: 0;
	padding: 0;
	color: #aaa;
	text-align: center;
	font-size: 11px;
	line-height: 15px;
}

.mui-indexed-list-bar.active {
	background-color: #c8c8c8;
}

.mui-indexed-list-bar.active a {
	color: #333;
}

.mui-indexed-list-bar.active a.active {
	color: #fe3000;
}

.mui-indexed-list-alert {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 20;
	display: none;
	margin-top: -40px;
	margin-left: -40px;
	width: 80px;
	height: 80px;
	border-radius: 40px;
	background-color: rgba(0, 0, 0, .5);
	color: #fff;
	text-align: center;
	font-size: 35px;
	line-height: 80px;
	-webkit-transition: .2s;
}

.mui-indexed-list-alert.active {
	display: block;
}

.mui-indexed-list .tab-bar {
	width: 100%;
	height: 34px;
	border-bottom: 1px solid #dfdfdf;
}

.mui-indexed-list .tab-bar a {
	position: relative;
	float: left;
	margin-right: 5%;
	width: 20%;
	color: #555;
	text-align: center;
	white-space: nowrap;
	font-size: 13px;
	line-height: 32px;
}

.mui-indexed-list .tab-bar a.tab-active:after {
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
	height: 3px;
	background: #fe3000;
	content: "";
}

#list-head a.mui-icon {
	color: #000;
}

#aside_2.mui-off-canvas-right {
	width: 100%;
	height: 100%;
}

#aside_2 header {
	box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
}

#aside_2 .mui-title {
	font-size: 15px;
}

#aside_2 .mui-search .mui-placeholder {
	right: 0;
	font-size: 14px;
}

#aside_2 .mui-search .mui-placeholder .mui-icon-search {
	margin: 0;
}

#aside_2 .mui-search .mui-placeholder span {
	position: relative;
	top: 1px;
}

#aside_2 .mui-table-view:after {
	height: 1px;
}

#aside_2 .mui-table-view-cell:after {
	left: 15px;
}

#aside_2 .mui-search input[type=search] {
	border: 0;
}