#orderlist_main.mui-scroll-wrapper {
	margin-top: 89px;
}

#orderlist_main.mui-scroll-wrapper .mui-content {
	background: 0 0;
}

.tab-slider {
	position: relative;
}

.order-tab-box {
	margin-top: 44px;
	background: #fff;
}

.order-tab-box.mui-segmented-control {
	border-bottom: 1px solid #d7d7d7;
}

.order-tab-box.mui-segmented-control .mui-control-item {
	line-height: 2.75rem;
}

.order-tab-box.mui-segmented-control .mui-control-item.mui-active {
	border-color: #FE0000;
	color: #fe3000;
}

.tab-slider .active-bar {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2px;
}

.tab-slider .active-bar .active-bar-span {
	position: absolute;
	top: 0;
	width: 25%;
	height: 2px;
	background: #FE0000;
	transition: all .3s ease;
}

.loading {
	position: relative;
	display: block;
	margin: 0 auto;
	height: 300px;
	text-align: center;
}

.loading .mui-spinner {
	position: relative;
	top: 40%;
	width: 40px;
	height: 40px;
}

.order-list-unit {
	position: relative;
	margin-top: 12px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: #fff;
}

.order-list-unit .shoptop {
	overflow: hidden;
	padding: 10px;
	padding-right: 6px;
	width: 100%;
	background: #fcfcfc;
	font-size: .8125rem;
}

.order-list-unit .shoptop:after {
	height: 0;
}

.order-list-unit





 





.shoptop










.mui-table-view-cell
>
a










:not





 





(
.mui-btn





 





){
overflow










:





 





visible










;
margin










:





 





0;
padding










:





 





0;
height










:





 





20
px










;
}
.order-list-unit .shoptop span.spt {
	height: 20px;
	color: #333;
	font-size: 0.8125rem;
	line-height: 1.4375rem;
}

.order-list-unit .shoptop span.status {
	position: relative;
	top: 0;
	float: left;
	margin-right: 8px;
	padding: 0 3px;
	height: 20px;
	border: 1px solid #fe3000;
	border-radius: 4px;
	background: #fff;
	color: #fe3000;
	font-size: 0.75rem;
}

.order-list-unit .shoptop span.odt {
	margin-right: 18px;
	color: #555;
}

.mui-push-right:after, .order-list-unit .shoptop .mui-navigate-right:after
	{
	right: 0;
	color: #999;
	font-size: 1.125rem;
}

.order-list-unit .mui-input-group .mui-input-row {
	position: relative;
	padding: 12px 8px 12px 10px;
	height: auto;
}

.order-list-unit .car-inner-box {
	height: auto;
}

.order-list-unit .car-inner-box img.goodspic {
	display: block;
	width: 100%;
}

.order-list-unit .car-inner-box .car-inner-body {
	float: left;
	padding-left: 6px;
	width: 60%;
}

.order-list-unit .car-inner-box .car-inner-body h5 {
	overflow: hidden;
	margin: 1px 0 0 0;
	height: 1.4em;
	color: #333;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.order-list-unit .car-inner-box .car-inner-body h5 a {
	color: #333;
}

.order-list-unit .car-inner-box .car-inner-body p {
	overflow: hidden;
	margin: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: .8rem;
}

.order-list-unit .car-inner-box .car-inner-body .price-area {
	position: absolute;
	bottom: 12px;
	line-height: 1;
}

.order-list-unit .car-inner-box .car-inner-body .price-area .m-price {
	color: #fe3000;
	font-size: 0.9375rem;
}

.order-list-unit .car-inner-box .car-inner-body .price-area .b-money {
	color: #666;
	font-size: 0.875rem;
}

.order-list-unit .mui-input-group .mui-table-view-cell {
	display: block;
	padding: 0;
}

.order-list-unit .car-inner-box .car-inner-body .numbox {
	margin-left: 5px;
	color: #666;
	font-size: 0.875rem;
}

.order-list-unit .unit-compute {
	overflow: hidden;
	padding: 11px 12px;
	width: 100%;
	background: #fcfcfc;
	font-size: 0.875rem;
}

.order-list-unit .unit-compute span.unit-price {
	color: #FE3000;
}

.order-list-unit .unit-compute span.unit-back, .order-list-unit .unit-compute span.unit-num
	{
	margin-right: 14px;
	color: #555;
}

.order-list-unit .button-box {
	float: left;
	display: block;
	margin-top: -1px;
	width: 20%;
}

.order-list-unit .button-box .mui-btn {
	overflow: hidden;
	margin-bottom: 5px;
	padding: 5px 0;
	width: 90%;
	font-size: 0.75rem;
	line-height: 0.75rem;
}

.order-list-unit .button-box .mui-btn.locked {
	color: #aaa;
}

.order-list-unit .button-box .mui-btn:last-child {
	margin-bottom: 0;
}

.order-list-unit .mui-input-group .mui-input-row:after {
	left: 0;
}

.order-list-unit .opt-box {
	background: #fcfcfc;
}

.order-list-unit .unit-pay {
	overflow: hidden;
	padding: 0 10px 11px 6px;
	width: 40%;
	background: #fcfcfc;
	font-size: 0.875rem;
}

.order-list-unit .cd-box {
	float: left;
	overflow: hidden;
	padding: 0 0 11px 0;
	width: 60%;
	background: #fcfcfc;
	font-size: 0.75rem;
}

.order-list-unit .cd-box p {
	margin: 0;
	padding: 9px 0 9px 10px;
	height: 10px;
	color: #FE3000;
	font-size: 0.625rem;
	line-height: 0.8125rem;
}

.order-list-unit .cd-box p span.grey {
	color: #aaa;
}

.order-list-unit .unit-pay .mui-btn {
	padding: 8px 0;
	width: 100%;
	border: 0;
	background: #fe4000;
	color: #fff;
	font-size: 0.75rem;
	line-height: 0.75rem;
}

.order-list-unit .unit-pay .mui-btn.btn-green {
	background: #4CAF50;
}

.order-list-unit .unit-pay .mui-btn.bg {
	padding: 8px 0;
	width: 48%;
	font-size: 0.75rem;
}

#orderDetail_main, #favorites_main, #viewed_main {
	margin-top: 44px;
}

#orderDetail_main .mui-content, #favorites_main .mui-content,
	#viewed_main .mui-content {
	background: 0 0;
}

.mui-table-view#AddList {
	overflow: hidden;
	margin: 0;
	height: 67px;
	background: #fcfcfc;
	transition: all .2s linear;
}

.mui-table-view#AddList .mui-table-view-cell {
	position: relative;
	padding-right: 50px;
	padding-left: 41px;
}

.mui-table-view#AddList .mui-table-view-cell:before {
	position: absolute;
	top: 20px;
	left: 7px;
	width: 30px;
	height: 30px;
	color: #fe3000;
	content: "\e333";
	font-size: 1.875rem;
	font-family: Muiicons;
	line-height: 1;
}

.mui-table-view#AddList .mui-table-view-cell .mui-h5 {
	color: #333;
}

.mui-table-view#AddList .mui-table-view-cell h5 {
	color: #333;
	font-weight: 700;
}

.order-list-unit.sp .car-inner-box .car-inner-body {
	width: 80%;
}

.order-list-unit.sp {
	margin-top: 0;
	border-top: none;
}

.unit-compute.sp {
	padding: .5em 0;
	background: #fff;
	color: #555;
}

.fullwidth {
	display: block;
	padding: 0 12px;
	width: 100%;
	line-height: 2em;
}

.fullwidth.sp {
	margin-top: .5em;
	padding-top: .5em;
	border-top: 1px solid #E4E3E6;
	font-weight: 700;
}

.fullwidth.sp span {
	color: #FE3000;
	font-weight: 400;
}

.order-info {
	margin-top: .5em;
	padding: .5em 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: #fff;
	color: #555;
	font-size: 0.875rem;
}

.order-list-unit.fav {
	margin-bottom: 0.5rem;
	border: none;
}

.order-list-unit.fav .car-inner-box .car-inner-body h5 {
	height: 2.6em;
	line-height: 1.3em;
	white-space: normal;
}

.order-list-unit.fav .car-inner-box .car-inner-body .price-area .m-price
	{
	display: block;
	font-size: 1.05rem;
	margin-bottom: 3px;
	text-indent: 4px;
}

.order-list-unit.fav .car-inner-box .car-inner-body .price-area .b-money
	{
	display: block;
	font-size: 0.87rem;
	margin-left: 0.2rem;
	position: relative;
	bottom: 1px;
}

.order-list-unit.fav .car-inner-box .car-inner-body .view-info {
	position: absolute;
	right: 5px;
	bottom: 12px;
}

.order-list-unit.fav .car-inner-box .car-inner-body .view-info span {
	color: #888;
	font-size: 10px;
	display: block;
	line-height: 1.1em;
	text-align: right;
}

.order-list-unit.fav .car-inner-box .car-inner-body {
	width: 75%;
}

.order-list-unit .car-inner-box-img {
	position: relative;
	overflow: hidden;
	float: left;
	width: 20%;
}

.order-list-unit.fav .car-inner-box-img {
	width: 25%;
}

.order-list-unit .car-inner-box-img.limit:before {
	content: '限购';
	width: 100%;
	line-height: 1.7em;
	height: 1.5em;
	background: #fe3000;
	position: absolute;
	top: 5%;
	left: 36%;
	z-index: 999;
	font-size: 10px;
	color: #fff;
	text-align: center;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.order-list-unit.fav .car-inner-box-img.limit:before {
	top: 5%;
	left: 40%;
	font-size: 10px;
}