#usercenter_main {
	margin-bottom: 50px
}

.user_top {
	background-color: #FE3000;
	padding: 40px 25px;
	position: relative;
	background-image: url(/wbolybusiness/images/wechat/pattern.svg);
	background-repeat: no-repeat;
	background-size: 200%;
	background-position: 70% 75%
}

.user_top .msg_btn {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
	font-size: 22px;
	z-index: 1
}

.user_top .user_show {
	height: 70px;
	line-height: 70px;
	position: relative;
	z-index: 1
}

.user_top .user_show img.user_avatar {
	height: 70px;
	width: 70px;
	border-radius: 50%;
	float: left
}

.user_top .user_show .user_name {
	color: #fff;
	float: left;
	line-height: 70px;
	margin: 0;
	font-size: 15px;
	padding-left: 10px
}

.main-list .mui-table-view:first-child:before {
	height: 0
}

.main-list .mui-table-view .mui-table-view-cell:after {
	left: 0
}

.main-list .mui-table-view .mui-table-view-cell.no-padding {
	padding: 0 !important
}

.main-list .mui-table-view .mui-table-view-cell .mui-table-view-cell {
	border: none
}

.main-list .mui-table-view .mui-table-view-cell .mui-table-view-cell .icon
	{
	margin: 0;
	width: 45px;
	height: 45px;
	color: #fff;
	border-radius: 5px
}

.main-list .mui-table-view .mui-table-view-cell .mui-table-view-cell .icon.mui-icon-extra-card
	{
	font-size: 40px;
	line-height: 37px;
	background: #3cc8dc
}

.main-list .mui-table-view .mui-table-view-cell .mui-table-view-cell .icon.mui-icon-extra-express
	{
	font-size: 40px;
	line-height: 47px;
	background: #b4dc14
}

.main-list .mui-table-view .mui-table-view-cell .mui-table-view-cell .icon.mui-icon-extra-gift
	{
	font-size: 35px;
	line-height: 45px;
	background: #ffc800
}

.main-list .mui-table-view .mui-table-view-cell .mui-table-view-cell .icon.mui-icon-extra-custom
	{
	font-size: 39px;
	line-height: 47px;
	background: #ff3c3c
}

.main-list .mui-table-view .mui-table-view-cell .mui-table-view-cell .money-show
	{
	font-size: 18px;
	color: #fe3000
}

.main-list .mui-table-view .mui-table-view-cell .mui-grid-9 {
	border: none
}

.main-list .mui-table-view .mui-table-view-cell a {
	font-size: 14px;
	line-height: 22px
}

.main-list .mui-table-view .mui-table-view-cell a span.right-text {
	margin-right: 25px;
	color: #555
}

.main-list .mui-table-view .mui-table-view-cell a span.mui-icon,
	.main-list .mui-table-view .mui-table-view-cell a span.mui-icon-extra {
	font-size: 21px;
	position: relative;
	margin-right: 10px;
	height: 21px
}

#wallet_main {
	margin-top: 44px;
	background: #fcfcfc
}

#wallet_main #icon-grid-9 {
	background: #FF3C3C;
	margin: 0;
	border: none
}

#wallet_main #icon-grid-9 div, #wallet_main #icon-grid-9 span {
	color: #fff
}

#wallet_main #icon-grid-9 .money-show {
	font-size: 18px
}

#wallet_main #icon-grid-9 .mui-media-body {
	margin-top: 15px
}

#wallet_main #icon-grid-9 .mui-table-view-cell {
	padding-top: 15px;
	padding-bottom: 13px
}

#wallet_main #icon-grid-9 .mui-table-view-cell.mui-active {
	background: #FE0000;
}

#wallet_main .mui-slider .mui-slider-item {
	border: 0;
	margin-top: -1px;
}

.tab-slider .order-tab-box {
	background: #fff
}

.tab-slider .order-tab-box.mui-segmented-control {
	border-bottom: 1px solid #d7d7d7
}

.tab-slider .order-tab-box.mui-segmented-control .mui-control-item {
	line-height: 2.75rem;
	font-size: .875rem
}

.tab-slider .order-tab-box.mui-segmented-control .mui-control-item.mui-active
	{
	border-color: #FE0000;
	color: #fe3000
}

.tab-slider .active-bar {
	position: absolute;
	top: 43px;
	width: 100%;
	height: 2px;
	z-index: 999;
}

.tab-slider .active-bar .active-bar-span {
	position: absolute;
	top: 0;
	width: 33.3%;
	height: 2px;
	background: #FE0000;
	transition: all .3s ease
}

.loading {
	position: relative;
	display: block;
	margin: 0 auto;
	height: 300px;
	text-align: center;
}

.loading .mui-spinner {
	position: relative;
	top: 40%;
	width: 40px;
	height: 40px;
}

.order-list-unit {
	position: relative;
	margin-bottom: 12px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: #fff;
}

.order-list-unit .shoptop {
	overflow: hidden;
	padding: 10px;
	padding-right: 6px;
	width: 100%;
	background: #fcfcfc;
	font-size: .8125rem;
}

.order-list-unit .shoptop:after {
	height: 0;
}

.order-list-unit





 





.shoptop










.mui-table-view-cell
>
a










:not





 





(
.mui-btn





 





){
overflow










:





 





visible










;
margin










:





 





0;
padding










:





 





0;
height










:





 





20
px










;
}
.order-list-unit .shoptop span.spt {
	height: 20px;
	color: #333;
	font-size: 0.8125rem;
	line-height: 1.4375rem;
}

.order-list-unit .shoptop span.odt {
	margin-right: 18px;
	color: #555;
}

.order-list-unit .shoptop span.odt span {
	color: #FE3000;
}

.mui-push-right:after, .order-list-unit .shoptop .mui-navigate-right:after
	{
	right: 0;
	color: #999;
	font-size: 1.125rem;
}

.order-list-unit .mui-input-group .mui-input-row {
	position: relative;
	padding: 12px 8px 12px 10px;
	height: auto;
}

.order-list-unit .car-inner-box {
	height: auto;
}

.order-list-unit .car-inner-box img.goodspic {
	display: block;
	width: 100%;
}

.order-list-unit .car-inner-box .car-inner-body {
	float: left;
	padding-left: 6px;
	width: 80%;
}

.order-list-unit .car-inner-box .car-inner-body h5 {
	overflow: hidden;
	margin: 1px 0 0 0;
	height: 1.4em;
	color: #333;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.order-list-unit .car-inner-box .car-inner-body h5 a {
	color: #333;
}

.order-list-unit .car-inner-box .car-inner-body p {
	overflow: hidden;
	margin: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: .8rem;
}

.order-list-unit .car-inner-box .car-inner-body .price-area {
	position: absolute;
	bottom: 12px;
	line-height: 1;
}

.order-list-unit .car-inner-box .car-inner-body .price-area .m-price {
	color: #fe3000;
	font-size: 0.9375rem;
}

.order-list-unit .car-inner-box .car-inner-body .price-area .b-money {
	color: #666;
	font-size: 0.875rem;
}

.order-list-unit .mui-input-group .mui-table-view-cell {
	display: block;
	padding: 0;
}

.order-list-unit .car-inner-box .car-inner-body .numbox {
	margin-left: 5px;
	color: #666;
	font-size: 0.875rem;
}

.order-list-unit .mui-input-group .mui-input-row:after {
	left: 0;
}

.order-list-unit .opt-box {
	background: #fcfcfc;
	height: 32px;
}

.order-list-unit .cd-box {
	float: left;
	overflow: hidden;
	padding: 0 0 11px 0;
	background: #fcfcfc;
	font-size: 0.75rem;
}

.order-list-unit .cd-box p {
	margin: 0;
	padding: 9px 0 9px 10px;
	height: 10px;
	color: #FE3000;
	font-size: 0.625rem;
	line-height: 0.8125rem;
}

.order-list-unit .cd-box p span.grey {
	color: #aaa;
}

.order-list-unit .car-inner-box-img {
	position: relative;
	overflow: hidden;
	float: left;
	width: 20%;
}

.order-list-unit .car-inner-box-img.limit:before {
	content: '限购';
	width: 100%;
	line-height: 1.7em;
	height: 1.5em;
	background: #fe3000;
	position: absolute;
	top: 5%;
	left: 36%;
	z-index: 999;
	font-size: 10px;
	color: #fff;
	text-align: center;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.fade {
	animation: fade 2s 1;
	animation-fill-mode: forwards;
	-webkit-animation: fade 2s 1;
	-webkit-animation-fill-mode: forwards;
}

@
keyframes fade {
	from {opacity: 1;
}

to {
	opacity: 0;
}

}
@
-webkit-keyframes fade {
	from {opacity: 1;
}

to {
	opacity: 0;
}

}
.mui-slider-item .inner ul {
	padding: 0;
	margin: 0;
	color: #555;
}

.mui-slider-item .inner .inner_tab li {
	float: left;
	list-style: none;
	text-align: center;
	width: 33.33%;
	line-height: 35px;
}

.mui-slider-item .inner .inner_data li {
	list-style: none;
	width: 100%;
	border-bottom: 1px solid #eee;
	float: left;
}

.mui-slider-item .inner .inner_data li span {
	text-align: center;
	float: left;
	width: 33.33%;
	line-height: 35px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 12px;
}