<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wboly.wechat.dao.shop.WeChatShopMapper">

	<!--微信 门店信息 -->

	<!-- 查询门店可配送的地址信息 -->
	<select id="selectCanbeDelivery" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT vsa.shopId, vsa.provinceId, vsa.cityId, vsa.areaId, vsa.streetId
		FROM vbl_market_goods_data.dbo.vbl_shop_adress vsa WITH(NOLOCK)
		WHERE EXISTS (
			SELECT vua.provinceId, vua.cityId, vua.areaId, vua.streetId
			FROM vbl_market_base_data.dbo.vbl_user_address vua WITH(NOLOCK)
			WHERE 1 = 1 AND userId = #{userId}
			<if test="isDefault != null and isDefault >0">
				AND isDefault = 1
			</if>
			AND astate = 0 AND vsa.provinceId = vua.provinceId
			AND vsa.cityId = vua.cityId AND vsa.areaId = vua.areaId AND vsa.streetId = vua.streetId
		)
		AND vsa.shopId = #{shopId}
	</select>

	<!-- 查询所有门店信息 -->
	<select id="selectAllShop" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT vs.*, vu.userName FROM vbl_market_goods_data.dbo.VBL_SHOP vs WITH (NOLOCK)
		LEFT JOIN vbl_market_base_data.dbo.vbl_user vu WITH(NOLOCK) ON vs.userId=vu.userId
		WHERE 1=1
		<if test="shopId != null and shopId != ''">
			AND vs.SHOPID = #{shopId}
		</if>
	</select>

	<!-- 查询该门店的商品库存 -->
	<select id="selectShopStockByParm" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT * FROM vbl_market_goods_data.dbo.vbl_goods_stockInfo WITH(nolock)
		WHERE 1 = 1 AND shopId = #{shopId} AND goodsId = #{goodsId} AND skuId = #{skuId}
		<if test="supplierUid != null and supplierUid != '' ">
			AND supplierUid = #{supplierUid}
		</if>
	</select>

</mapper>
